html, body
{
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Lucida Grande',Geneva,Arial,Verdana,sans-serif;
}
.nonbold-header-text
{
  margin: 0;
  padding: 6px;
  border:0;
}
.icon
{
  height: 20px;
  width: 20px;
  vertical-align: middle;
}
.search
{
  display: inline; /* Override Bootstrap */
  width: 50%;
  border-radius: 5px;
}
.header-text
{
  margin: 0;
  padding: 6px;
  border:0;
  font-size: 20pt;
}
.header-size-control
{
  font-size: x-large;
  text-align: center;
  vertical-align: middle;
  width: 30px !important;
  height: 30px !important;
  padding: 1px;
  border: 1px solid black;
  display: inline-block;
}
.header
{
  position: fixed;
  top: 10px;
  left: 8px;
  right: 10px;
}
.gap
{
  display: inline-block;
  width: 10px;
}
.rect
{
  background-color: rgba(0,146,143,0.3);
  border: 1px solid lightblue;
  position: fixed;
  width: 0;
  height: 0;
  margin: 0;
}
.rect-canvas
{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 999; /* In front */
}
.login {
  position: fixed;
  top: 10px;
  right: 10px;
}
.login-text {
  color: black;
}
.login-form {
  display: none;
  background: white;
  padding: 15px;
}
.login-input {
  border-radius: 5px;
}
.popup {
  font-size: large;
}
.edit, .clone, .delete {
  font-size:x-small;
}
.org-logo {
  width: 200px;
}
#minus-sign
{
  position: absolute;
  top: 5px;
  right: 5px;
}
#mini-header
{
  display: block; /* Default on load */
}
#header
{
  display: none; /* Default on load */
  padding: 0;
  background-color: #bbb;
  border: 1px solid #888;
  opacity: 0.6;
}
#map
{
  height: 100%;
  width: 100%;
}
#drawmode
{
  display: none; /* Invisible by defualt */
}

.dropdown-menu.loading:before {
  content: '';
  display: block;
  height: 50px;
  background-image: url('/img/ajax-loader.gif');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.nav-tabs {
  margin-bottom: 10px;
}

.show_other_map {
    cursor: pointer;
    margin-left: 12px;
    line-height: 1.5;
    display: block;
}

/* Add support for dropdown submenus */
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

/* div.leaflet-right.leaflet-bottom {
  left: 10px;
  right: initial;
}*/
div.leaflet-top.leaflet-left > div.leaflet-control-zoom.leaflet-bar.leaflet-control {
    right: 10px;
    top: initial;
    bottom: 10px;
    position: fixed;
    display: block;
}
div.leaflet-top.leaflet-left > div.leaflet-bar.leaflet-control{
  display:none;
}

div.header.my-include > div.btn-group{
  position: initial;
    display: table-caption;
    /* vertical-align: inherit; */
}
.no-radius-border{
border-radius: 0px;
}
div.login.panel.panel-default.my-include.inclueded{
  border-radius: 50px;
}
/*.leaflet-control-minimap a {
border-radius: 2px 10px 2px 2px;
left:0;
right: initial;
}*/
.leaflet-popup-content p.map_not_linked{
  margin: 0px;
  margin-left: 12px;
}
div.btn.btn-default.dropdown-toggle.no-radius-border{
margin-left: 0px;
}

.btn-group>.btn:first-child {
margin-left: -1px;
}

div.btn-group > button.btn.btn-default.dropdown-toggle.no-radius-border.position-left-layer{
margin-left:0px;
border-radius: 0px 0px 10px 10px;
}

div.header.my-include.inclueded > input.search.form-control.ui-autocomplete-input{
margin-left:-1px;
border-radius: 10px 10px 10px 0px;
font-weight: bold;
}
div.login.panel.panel-default.my-include.inclueded > div.panel-body{
  padding: 10px;
  font-size: 12px;

}
.login-form{
  background: initial;
}
.dropdown-menu{
  position: fixed;
    top: 42px;
    left: 54px;
}

div.prova > button.buttom-help{
    position: fixed;
    top: 11px;
    right: 230px;
    padding-left: 9px;
    padding-bottom: 10px;
    background: white;
    border-radius: 20px;
}

div.tooltip{
  position:absolute;
  left:10px;
  top:35px;
}
