<div class="panel-body">
  <span id="login-text"><a id="login-link" href="#">Login</a> / <a id="signup-link" href="#">Sign up</a></span>
  <span id="loggedin-text">Logged in as <span id="loggedin-username"></span>. <a id="logout-link" href="#">Logout</a></span>
  <div id="login-form" class="login-form">
    <input id="email" class="login-input form-control" placeholder="Email" /><br />
    <input id="password" class="login-input form-control" type="password" placeholder="Password" /><br />
    <button id="login-submit">Login</button>
    <button id="login-cancel">Cancel</button>
  </div>
</div>
