<div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
       <h4 class="modal-title"><b>BUG</b></h4>
     </div>
     <div class="modal-body">
       <p><b>This page is optimized for <a src="https://www.google.it/chrome/browser/desktop/index.html"> Google Crome</a>, if there are a problem with:</b></p>
           <ul><small>
              <li>Search doesn't play </li>
              <li>Maps and layers don't load </li>
              <li>Main map doesn't load </li>
              <li>The button Download and Download a selection don't work </li>
          </small></ul>
      <p align="right"><small>Refresh the page </small></p>




       <p><b>If the page has an updating,you must cleared the cache </b></p>

   </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Thank you!</button>
     </div>
   </div>
 </div>
