 <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><b>information for you</b></h4>
      </div>
      <div class="modal-body">
        <a src="http://veniceprojectcenter.org/"><b>Venice Project Center</b></a>
        <ul><small>
      <li>  <a src="http://www.venipedia.org/wiki/index.php?title=Bird%27s-Eye_by_De%27Barbari,_Jacopo_(1500)">De'Barbari Jacopo </a> </li>
      <li>  <a src="">Giovanni Andrea Vavassore</a> </li>
      <li>  <a src="http://www.venipedia.org/wiki/index.php?title=Bird%27s-Eye_by_Merian,_M._(1635)">Matthaeus Merian </a> </li>
      <li>  <a src="http://www.venipedia.org/wiki/index.php?title=Bird%27s-Eye_by_Merlo,_Giovanni_(1696)">Giovanni Merlo </a> </li>
      <li>  <a src="http://www.venipedia.org/wiki/index.php?title=Orthographic_by_Ughi,_Lodovico_(1729)">Lodovico Ughi </a> </li>
      <li>  <a src="http://www.venipedia.org/wiki/index.php?title=Orthographic_%26_Panoramic_by_Combatti,_B._E._G._(1856)">Bernardo &amp; Gaetano Combatti </a> </li>
        </small></ul>
      <p><b>For more information search in <a src="http://www.venipedia.org/wiki/index.php?title=Main_Page"> Venipedia </a></b> </p>


        <!-- <iframe style="border: none; width: 100%; height: 500px;" src="https://docs.google.com/document/d/1UKpaE8840syznkKYdn86LZPocZ53mdzL0Gn7Onp5rVM/pub?embedded=true"></iframe> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Thank you!</button>
      </div>
    </div>
  </div>
