<!-- Top toolbar -->
<input class="search form-control" id="mini-search" placeholder="Search..." />
<div class="btn-group">
  <div id="map-dropdown" class="btn-group">
    <button id="maps" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-target="#map-dropdown" title="Select a map"><img class="icon" src="img/maps.png" /></button>
    <!-- Note: Keep the following ul tag empty for CSS purposes (this includes whitespace) -->
    <ul class="dropdown-menu loading maps-menu" role="menu"></ul>
  </div>
  <div id="layer-dropdown" class="btn-group">
    <button id="layers" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-target="#layer-dropdown" title="Enable and disable layers"><img class="icon" src="img/layers.png" /></button>
    <!-- Note: Keep the following ul tag empty for CSS purposes (this includes whitespace) -->
    <ul class="dropdown-menu loading layers-menu" role="menu"></ul>
  </div>
</div>
<div class="btn-group">
  <button id="drawmode" class="btn btn-default" data-toggle="tooltip" title="Draw a new polygon"><img class="icon" src="img/pencil.png" /></button>
  <button id="dlbutton" class="btn btn-default" data-toggle="tooltip" title="Download what is currently visible"><img class="icon" src="img/filesave.png" /></button>
  <button id="select" class="btn btn-default" data-toggle="tooltip" title="Download a selection"><img class="icon" src="img/select.png" /></button>
  <button id="plus-sign" class="btn btn-default" data-toggle="tooltip" title="Get more information"><img class="icon" src="img/about.png" /></button>
</div>
