<!-- Top toolbar -->
<input class="search form-control" id="mini-search" placeholder="Search..." />
<div class="btn-group">
  <div id="map-dropdown" class="btn-group">
    <button id="maps" class="btn btn-default dropdown-toggle no-radius-border giovanni" data-toggle="dropdown" data-target="#map-dropdown" title="Select a map"><img  class=" icon" src="img/globe.png"> </button>
    <!-- Note: Keep the following ul tag empty for CSS purposes (this includes whitespace) -->
    <ul class="dropdown-menu loading maps-menu" role="menu"></ul>
  </div>
  <div id="layer-dropdown" class="btn-group">
    <button id="layers" class="btn btn-default dropdown-toggle no-radius-border position-left-layer giovanni" data-toggle="dropdown" data-target="#layer-dropdown" title="Enable and disable layers"><i class="icon material-icons">&#xE53B;</i></button>
    <!-- Note: Keep the following ul tag empty for CSS purposes (this includes whitespace) -->
    <ul class="dropdown-menu loading layers-menu no-radius-border " role="menu"></ul>
  </div>
</div>
<div class="btn-group">
  <button id="drawmode" class="btn btn-default no-radius-border " data-toggle="tooltip" title="Draw a new polygon"><i class="material-icons icon">&#xE150;</i></button>
  <button id="dlbutton" class="btn btn-default no-radius-border " data-toggle="tooltip" title="Download what is currently visible"><i class="material-icons icon">&#xE2C4;</i></button>
  <button id="select" class="btn btn-default no-radius-border " data-toggle="tooltip" title="Download a selection"><i class="material-icons icon">&#xE8D8;</i> </button>
  <button id="plus-sign" class="btn btn-default no-radius-border " data-toggle="tooltip" title="Get more information"><i class="material-icons icon">&#xE88F;</i></button>
</div>

<div class="prova">
<button id="help"  class="btn btn-default buttom-help" data-toggle="tooltip" title="Help you"><i class="material-icons icon">&#xE887;</i></button>
</div>
